@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

$white: #fff;
$dark-gray: #444;
$black: #000;
$main-blue: #33bbff;
$middle-blue: #CCE6FE;
$light-blue: #e6f2ff;
$lighter-blue: #f0f5f5;
$dark-blue: #0066cc;
$light-green: #ccffcc;
$lighter-green: #e6ffe6;
$red: red;
*{
}
body,table,td,th,tr{
  text-align: center;
}
table{
  text-transform: uppercase;
  width: 100%;

}
table, tr,th,td{
  padding: 4px 0px;
  letter-spacing: 1px;
  color: $black;
}
#paypal-form{
  margin-top: 20px;
}
th{
  border: 1px solid #d8d8d8;
}
tr{
}
textarea{
  width: 100%;
  resize: none;
  border-radius: 3px;
}
button, select{
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  padding: 4px 8px;
  background-color: #DAD8D8;
  border: none;
  font-weight: bold;
}
.navbar{
  background-color: #00ace6;
  text-transform: uppercase;
}
.navbar-brand{
  color: $black;
  font-family: 'Homemade Apple', cursive;
  text-transform: none;
  font-size: 26px;
  font-weight: bold;
  padding: 3px;
}
.main-section.post-section h2{
  font-family: 'Homemade Apple', cursive;
  padding: 45px 0px 30px;
  font-weight: bold;
}
span.word-count, .character-count, .paragraph-count, .sentence-count, #word-ocurrences{
  font-weight: bold;
  font-size: 25px;
  color: $black;
  padding: 1px 2px;
  box-shadow: 0.1px 0.1px grey;
  background-color: $white;
  border-radius: 3px;
}
#word-ocurrences{
  margin-left: 5px;
}
.post-area{
  min-height: 542px;
}
.navbar-nav .nav-link{
  color: $white;
}
.nav-item{
  padding: 0px 45px;
}
.navbar-toggler-icon{
  background-image: url('../media/mobile/mobile-navigation-ico.png');
}
.flow-text{
  padding:0px 30px;
}
.conceptual-img{
  padding: 10px;
  width: 30%;
}
#info-bar{
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
}
#tools-list{
  width:100%;
  list-style-type: gurmukhi;
}
#tools-list li{
  max-width:300px;
  margin:auto;
  padding: 2px 0px;
}
#main-content{
  min-height: 350px;
}
#main-info-table{
  text-align: center;
}
#table-stats{
  width: 100%;
  margin:auto;
  border: 1px solid #d8d8d8;
}
#adsense1{

}
#form-functions{
  padding: 30px;
}
#functions-bar{
  padding: 5px 0px;
}
footer{
  background: #00ace6;
  max-height: 70px;
  width: 100%;
  bottom: 0px;
  padding: 20px 0px;
  color: #000;
  margin-top: 195px;
  margin-bottom: 0px;
}
.main-footer.post-footer{
  margin-top:0px;
}
/* posts */
.post-area{
  border-right: 1px solid #bfbfbf;
}
@media screen and (max-width:767px){
  #main-content{
    margin-top: 25px;
    position: relative;
    min-height: 765px;
  }
  #table-stats{
    width: 100%;
    margin: auto;
  }
  #form-functions{
    margin:auto;
    padding:15px;
  }
  #info-bar{
    padding: 0px 20px 20px;
  }
  #functions-bar{
    padding: 20px 0px;
  }
  footer{
    height: 80px;
    padding: 15px 0px 0px;
    max-height: 200px;
  }
  .navbar-brand{
    font-size: 19px;
    margin-right: 0px;
  }
  .conceptual-img{
    width: 70%;
  }
  .post-area{
    border:none;
    min-height: 600px;
  }
  .main-section.post-section.post-about{
    max-height: 460px;
  }
  .main-section.post-section.post-donate{
    max-height: 350px;
  }
  .nav-item{
    padding: 0px;
  }
  .main-footer.post-footer{
    margin-top: 195px;
  }
}


