@import url("https://fonts.googleapis.com/css?family=Oswald:300,700");
* {
  font-family: 'Oswald', sans-serif; }

body, table, td, th, tr {
  text-align: center; }

table {
  text-transform: uppercase;
  width: 100%; }

table, tr, th, td {
  color: #000;
  background: #fdfdfd; }

.paypal-form {
  margin: 45px 0px; }

th {
  font-weight: bold;
  font-size: 19px;
  text-transform: none;
  text-decoration: underline; }

td {
  text-transform: none;
  font-size: 18px; }

textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  border: 2px solid #DDD;
  font-size: 18px; }

button, select {
  background-color: #7de09b;
  border-radius: 5px;
  color: #fff;
  padding: 8px 12px;
  border: none;
  font-size: 16px;
  background-color: #28a745;
  border: #28a745; }

.btn-blue {
  background: #007bff !important; }

.btn-orange {
  background-color: #ffc107 !important; }

.navbar {
  color: #fff;
  background-color: #f3f2f2; }

.navbar-brand {
  text-transform: none;
  font-size: 24px;
  font-weight: bold;
  padding: 3px;
  color: #000; }

.navbar-brand:hover {
  color: #fff; }

.main-section.post-section h2 {
  padding: 45px 0px 30px;
  font-weight: bold; }

span.word-count, .character-count, .paragraph-count, .sentence-count, #word-ocurrences, .line-count {
  font-weight: bold;
  font-size: 26px;
  color: #1cc580;
  padding: 1px 2px;
  box-shadow: 0.1px 0.1px grey;
  background-color: #fff;
  border-radius: 2px; }

.copyright {
  margin-right: 15px;
  color: #5f5d5d; }

.word {
  font-weight: bold; }

.word-ocurrences {
  margin-left: 5px; }

.post-area {
  min-height: 542px; }

.navbar-nav .nav-link {
  color: #2d2d2d; }

.navbar-nav .nav-item {
  padding: 0px 45px;
  font-weight: bold;
  font-size: 18px; }

.navbar-toggler-icon {
  background-image: url("../media/mobile/mobile-navigation-ico.png"); }

.flow-text {
  padding: 0px 30px;
  font-size: 18px; }

.conceptual-img {
  padding: 10px;
  width: 30%; }

.info-bar {
  padding: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex; }

.tools-list {
  width: 100%; }

.tools-list li {
  max-width: 300px;
  margin: auto;
  padding: 2px 0px; }

.main-content {
  min-height: 350px; }

.main-info-table {
  text-align: center; }

.table-stats {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #ddd; }

.form-functions {
  padding: 30px; }

.functions-bar {
  padding: 5px 0px; }

footer {
  border-top: 2px solid #7de09b;
  max-height: 70px;
  width: 100%;
  bottom: 0px;
  padding: 20px 0px;
  color: #000;
  margin-top: 195px;
  margin-bottom: 0px;
  text-align: right;
  margin-right: 15px; }

footer .language-switcher {
  margin-left: 25px; }

footer .language-switcher img {
  padding: 0px 7px; }

.main-footer.post-footer {
  margin-top: 0px; }

.info-bar .word-count {
  margin-right: 15px; }

.navbar-nav.mr-auto {
  margin-left: 45px; }

/* posts */
.post-area {
  border-right: 1px solid #bfbfbf; }

/* jquery uploader*/
.row.fileupload-buttonbar {
  margin-bottom: -450px;
  margin-left: -50px; }

.bloco-msg {
  text-align: center;
  margin-top: 15px;
  width: inherit;
  font-size: 16px; }

.bloco-msg .msg {
  border: 1px solid #DDD;
  border-top: none;
  padding: 7px; }

.bloco-msg .nav-tabs {
  margin-bottom: 0px; }

.bloco-msg .nav-tabs .aba-item {
  font-weight: bold; }

.info-tabs {
  width: 500px; }

.bloco-msg .tab.nav-tabs li {
  list-style-type: none; }

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .row.fileupload-buttonbar {
    width: 1024px; }

  .mobile {
    display: none; } }
@media screen and (min-width: 1200px) {
  .row.fileupload-buttonbar {
    width: 1200px; } }
@media screen and (max-width: 1024px) {
  .desktop {
    display: none; }

  .main-content {
    margin-top: 25px;
    position: relative;
    min-height: 765px; }

  .table-stats {
    width: 100%;
    margin: auto; }

  .form-functions {
    margin: auto;
    padding: 15px; }

  .info-bar {
    padding: 0px 20px 20px; }

  .functions-bar {
    padding: 20px 0px; }

  footer {
    height: 80px;
    padding: 15px 0px 0px;
    max-height: 200px; }

  .navbar-brand {
    font-size: 19px;
    margin-right: 0px; }

  .conceptual-img {
    width: 70%; }

  .post-area {
    border: none;
    min-height: 600px; }

  .main-section.post-section.post-about {
    max-height: 460px; }

  .main-section.post-section.post-donate {
    max-height: 350px; }

  .navbar-nav .nav-item {
    padding: 0px;
    font-size: 14px; }

  .main-footer.post-footer {
    margin-top: 195px; }

  footer {
    text-align: center; }

  .navbar-nav.mr-auto {
    margin: auto; }

  .row.fileupload-buttonbar {
    margin-bottom: -70px; } }

/*# sourceMappingURL=main.css.map */
